@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  overflow-x: hidden;
  background-color: #616161fa;
}

.title {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: left;
  width: 100vw;
  color: black;
  top: 0;
  left: 0;
}

.container {
  -webkit-box-shadow: 0 0 10px 5px black;
          box-shadow: 0 0 10px 5px black;
  background-color: #fff;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.container.show-nav .circle {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.circle-container {
  position: fixed;
  top: -110px;
  left: -100px;
}

.circle {
  -webkit-box-shadow: 0 0 8px 2px black;
          box-shadow: 0 0 8px 2px black;
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.container.show-nav + nav li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav {
  position: fixed;
  left: 20px;
  bottom: 40px;
  z-index: 100;
}

nav ul {
  list-style: none;
}

nav ul li {
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

nav ul li i {
  margin-right: 10px;
  font-size: 20px;
}

nav ul li + li {
  margin-left: 20px;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

nav ul li + li + li {
  margin-left: 40px;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px 20px;
  border-radius: 5px;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}

.content img {
  border-radius: 5px;
  width: 100%;
  height: 400px;
  margin: 15px 0;
  -webkit-box-shadow: 0 0 10px 1px black;
          box-shadow: 0 0 10px 1px black;
}
/*# sourceMappingURL=style.css.map */